

.HomePage{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
#userGreeting{
    margin-top: 8vh;
    font-size: 2vw;
    
}
.data{
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.dailyChart {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.dailyChart p{
    margin-top: 1%;
}
.pieChart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.averages h3{
    margin-top: 10vh;
}
.links{
    margin-top: 7vh;
    text-align: center;
}

@media screen and (min-width: 750px){

    .data{
        margin-top: 7vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

}
