
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.LandingPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    width: 100%;
    background-image: url("https://i.imgur.com/pJlVTh6.jpg");
    background-color: rgb(156, 156, 156);
  background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}
.first-page h2{
    margin-top: 20vh;
    height: 12vh;
    font-size: 9vw;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
    font-family: 'Sacramento', cursive;
    font-weight: 100;
}
.first-page h3{
    margin-top: 10vh;
    height: 20vh;
    font-size: 1.8vw;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}
.first-page a{
    height: 10vh;
    font-size: 1.5vw;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}


.about-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.RegistrationPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}


.RegistrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    border: 2px solid white;
    height: 70vh;
    width: 75vw;
}
.Input{
    border: 1px solid white;
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width: 100%;
    border-radius: 4px;
  }
.full_name{
    margin-top: 2.5vh;
}
button{
    margin-top: 1vh;
}
.contact-info{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}